#--------------------------------------------------
# # Orthograph config file
#-------------------------------------------------- 
#
# Comments start with a hash sign (#) and are ignored by the parser.
# This way you can comment out lines you don't need, but would like to keep
# in your config file because they might be important later.
#
# Settings in UPPER-CASE must be changed to your local environment. Settings
# in lower-case are sane defaults.
#
# Remember to save this file as 'orthograph.conf'.

#--------------------------------------------------
# # Important stuff first. These settings are mandatory.
#-------------------------------------------------- 

#
# # Database backend selection
#
# Database backend. Defaults to 'sqlite', which means to use the file-based
# SQLite database system
database-backend   = sqlite

#
# # SQLite settings
#
# Path to the database file for SQLite. Required if you use SQLite. This is a
# plain file that can be located anywhere. It will be created automatically. By
# convention, SQLite database files carry the extension '.sqlite'.
sqlite-database    = ORTHOGRAPH.sqlite

# Path to the sqlite executable. Normally this is located at /usr/bin/sqlite3
# (the default). Required if you use SQLite and have 'database-backend' set to
# 'sqlite'. Change this if your setup differs. 
sqlite-program     = /usr/bin/sqlite3

#
# # MySQL connection settings. Only required if you use MySQL and have
# 'database-engine' set to 'mysql'.
#
#mysql-username     = USERNAME
#mysql-password     = PASSWORD
#mysql-database     = DATABASE

# The path to your transcript data file. Must be in Fasta format. It is always
# best to use absolute paths. You may only supply one file, not a directory of
# files.
input-file         = FASTAFILE

# Species name. Make sure to pick a unique name because otherwise results get
# mixed up. You can, however, supply an existing name if you want to add
# sequences to an existing data set (this has been neither tested nor
# documented yet, though).
species-name       = NAME

# The name of the ortholog set (not the path to a file) you created earlier.
ortholog-set       = SETNAME

# This is where your results are placed. Will be created if it doesn't exist.
# You should provide the path to a directory here or your output will be placed
# in your current working directory.
#output-directory   = /PATH/TO/OUTPUT/DIR

# Reference taxa. A comma-separated list of taxa that are present in your
# ortholog set. If you don't specify any reference taxa (i.e., leave this
# setting commented out), all taxa in your set are used as reference taxa. 
#reference-taxa     = COMMA, SEPARATED, LIST, OF, TAXA, IN, YOUR, ORTHOLOG, SET


#--------------------------------------------------
# Options. These settings are optional, but may be required if the defaults
# don't do.
#-------------------------------------------------- 

#
# # Paths to the programs. It's best to set absolute paths.
#
# Default alignment program; used to create the ortholog set. Must accept a
# fasta input file as input and produce fasta-formatted output on STDOUT. 
# Note: The --anysymbol option makes MAFFT accept any character in a sequence,
# INCLUDING '*' for stop codons and 'U' for Selenocystein. If you are not OK
# with this, you may remove the --anysymbol option from the command, but then it
# is your responsibility to make sure that your ortholog set sequences do not
# contain any nonstandard symbols that may make MAFFT choke on your set.
#
# Standard amino acid symbols are: ACDEFGHIKLMNPQRSTVWY and X for ambiguity.
alignment-program    = mafft --localpair --maxiterate 1000 --anysymbol

# HMMbuild is used to build the profile HMMs. Part of the HMMER3 package.
hmmbuild-program     = hmmbuild

# makeblastdb is used to build the BLAST database. Part of NCBI BLAST+
makeblastdb-program  = makeblastdb

# Fastatranslate is part of the Exonerate package and translates the transcript
# sequences into all six reading frames. 
translate-program    = fastatranslate

# HMMsearch, of course. Also part of the HMMER3 package.
hmmsearch-program    = hmmsearch

# BLAST. Should be blastp from the NCBI BLAST+ package.
blast-program        = blastp

# Exonerate. Used to find ORFs.
exonerate-program    = exonerate

#
# # MySQL settings
#
# The database server. Change this if the database does not run on the same
# computer as the analysis. Ask your administrator if you don't know what to
# write here.
# Defaults to 127.0.0.1 (localhost).
#mysql-dbserver             = 127.0.0.1

# Prefix for your Orthograph database tables. Useful if you are running
# multiple instances of Orthograph on the same database but don't want the data
# to be mixed up. Defaults to 'orthograph'.
#db-prefix = orthograph

#
# # Settings that affect the HMM and BLAST searches.
#
# Score threshold. A higher alignment score means a better match. Default value
# is 10.
#hmmsearch-score-threshold = 10
#blast-score-threshold     = 10

# You can also set an e-value threshold. The HMMsearch e-value threshold
# affects the specificity of the HMM search, the first step in the reciprocal
# algorithm. It defines how distantly related candidate orthologs may be when
# searching through the transcriptome file. The BLAST e-value threshold affects
# the second step, the reciprocal search. Basically, this defines the
# false-positive probability (lower e-value = lower probability).
# Default value is 1e-05 (0.00001).
#hmmsearch-evalue-threshold = 1e-05
#blast-evalue-threshold     = 1e-05

# Maximum number of HMMsearch hits to consider. This setting is useful to limit
# the number of reciprocal searches for very large number of HMMsearch hits.
# However, it is also useful to limit the scope of your HMM searches, which you
# normally don't want to do. Unless you have an idea of how many reciprocal
# searches are required to effectively verify or reject a candidate ortholog,
# don't change this setting. 
# Defaults to 100.
#max-blast-searches         = 100

# The soft threshold is a special concept of Orthograph: While checking in
# strict mode (see below) whether the reciprocal hits are part of the ortholog
# group in question, this many mismatches may occur before the ortholog
# candidate is rejected.
# Defaults to 5.
#soft-threshold             = 5

# Maximum number of BLAST hits to consider for ortholog candidates.
# Defaults to 100.
#blast-max-hits             = 100

# Number of CPU threads to use. For optimum CPU efficiency, set this to the
# number of CPU threads that your CPU(s) can run. Ask your system administrator
# if you don't know.
# Defaults to 1 (single-threaded: slow but safe)
#num-threads                = 1

# 
# # Other options
#
# Minimum ORF overlap. Each transcript is given to Exonerate to correct for
# frameshift errors etc. The resulting ORF must overlap the HMM alignment
# region by this percentage. Note that the value must be specified as a
# fraction of 1.
# 0.5 (50%) is the default; a higher value makes this more conservative.
#orf-overlap-minimum = 0.5

# HaMStR compatible output. Leave this uncommented if you want to use scripts
# that depend on the sequence header format that the older HaMStR pipeline
# used.
hamstr-compatible-output = 1

# If you are only interested in a few genes from your ortholog set, you can 
# provide Orthograph with a list of ortholog IDs in a file. The IDs must be
# in a single line each, and there must be no empty lines in the file. 
#cog-list-file = /PATH/TO/FILE

# Strict search. Normally it is enough for a match to occur if one of the
# reference taxa is hit in the reciprocal search. In strict mode ALL reference
# taxa must be hit to verify an ortholog assignment. This is much more
# conservative.
#strict-search = 1

# Clear pre-existing data of the same species from the database prior to the
# analysis. Recommended if you plan to run the same analysis multiple times,
# but doesn't hurt otherwise. 
# This behaviour is the default, uncomment this line if you want to turn it off.
#clear-results-from-database  = 0

# Delete old result files. This means the HMMsearch and BLAST report files found
# in the output directory. If you plan to run the same analysis multiple times
# with the same HMMsearch and BLAST settings, then don't have them deleted. This
# will speed up the process significantly, since the search programs don't have
# to be run again.
# Uncomment this line if you want the files deleted.
#clear-result-files = 1

# Selenocysteine (U) may occur in some protein sequences. However, some
# alignment programs do not accept this nonstandard amino acid symbol. You can
# tell Orthograph to substitute all 'U' in the sequences with a different
# character. The default is not to substitute.
#substitute-u-with = X

# Correct for frameshift errors using Exonerate. This ensures that you receive
# a 100% corresponding nucleotide sequence for your predicted orthologous
# transcripts, but may lead to lost transcripts where no matching alignment
# could be obtained by Exonerate. This is the default behaviour; uncomment this
# line to turn it off.
#no-frameshift-correction = 0

# Header separator. This will be used to separate header fields in the output files.
# May be an arbitrary string. Defaults to '|'. To use a whitespace character,
# enclose it in quotes, e.g., ' '.
#header-separator = |

# Verbose output. More information about the HMMsearch and BLAST hits. Normally
# you don't want to see this. If you are really interested in what Orthograph is
# thinking during the analysis, uncomment this. Verbose and quiet are mutually
# exclusive.
#verbose = 1

# Quiet output. Uncomment this if you don't want to be bothered during the
# analysis. After starting, Orthograph will keep still until the analysis is
# complete (or unexpected things happen). Verbose and quiet are mutually
# exclusive.
#quiet = 1


#
# # More paths
# 
# Ortholog sets directory. Useful if you would like to keep your ortholog sets
# (that is, the BLAST database, the HMMs and the alignment files for each
# ortholog gene) in a separate place. Defaults to 'sets' (in the current
# directory).
#sets-dir = /PATH/TO/SETS/DIR

# Path to log file. If set, all messages will also be written to this file. If
# this is not set, messages are written to a log file in your output directory
# (see the setting 'output-directory' above).
#logfile = /PATH/TO/LOGFILE
