#--------------------------------------------------
# # Orthograph config file
#-------------------------------------------------- 
#
# Comments start with a hash sign (#) and are ignored by the parser.
# This way you can comment out lines you don't need, but would like to keep
# in your config file because they might be important later.
#
# Settings in UPPER-CASE must be changed to your local environment. Settings
# in lower-case are sane defaults.

#--------------------------------------------------
# # Important stuff first. These settings are mandatory.
#-------------------------------------------------- 

#
# # MySQL connection settings.
#
mysql_dbuser       = USERNAME
mysql_dbpassword   = PASSWORD
mysql_dbname       = DATABASE

# The path to your transcriptome data file. Best to use absolute paths. At the
# moment, you may only supply one file, not a directory of files.
estfile            = FASTAFILE

# Species name. Make sure to pick a unique name because otherwise results get
# mixed up. You can, however, supply an existing name if you want to add
# sequences to an existing data set. 
species_name       = TEST_SPECIES

# The ortholog set you created earlier.
ortholog_set       = SETNAME

# Reference taxa. Must be a comma-separated list of taxa that are present in
# your ortholog set. If you don't specify any reference taxa (i.e., comment out
# this setting), all taxa in your set are used as reference taxa. 
reference_taxa     = COMMA, SEPARATED, LIST, OF, TAXA, IN, YOUR, ORTHOLOG, SET

# This is where your results are placed. Will be created if it doesn't exist.
output_directory   = /PATH/TO/OUTPUT_DIR


#--------------------------------------------------
# Options. These settings are optional, but may be required if the defaults
# don't do.
#-------------------------------------------------- 

#
# # Paths to the programs. It's best to set absolute paths.
#
# Default alignment program; used to create the ortholog set. Must accept a
# fasta input file as input and produce fasta-formatted output on STDOUT. 
# Note: The --anysymbol option makes MAFFT accept any character in a sequence,
# INCLUDING '*' for stop codons and 'U' for Selenocystein. If you are not OK
# with this, you may remove the --anysymbol option from the command, but then it
# is your responsibility to make sure that your ortholog set sequences do not
# contain any nonstandard symbols that may make MAFFT choke on your set.
#
# Standard amino acid symbols are: ACDEFGHIKLMNPQRSTVWY and X for ambiguity.
alignment_program    = mafft --localpair --maxiterate 1000 --anysymbol

# HMMbuild is used to build the profile HMMs. Part of the HMMER3 package.
hmmbuild_program     = hmmbuild

# Fastatranslate is part of the Exonerate package and translates the transcript
# sequences into all six reading frames. You are free to use different
# programs, though.
translate_program    = fastatranslate

# HMMsearch, of course. Also part of the HMMER3 package.
hmmsearch_program    = hmmsearch

# BLAST. Should be blastp from the NCBI BLAST+ package.
blast_program        = blastp

# Exonerate. Not used yet.
#exonerate_program    = exonerate

#
# # Settings that affect the HMM and BLAST searches.
#
# E-value threshold. The HMMsearch e-value threshold affects the specificity of
# the HMM search, the first step in the reciprocal algorithm. It defines how
# distantly related candidate orthologs may be when searching through the
# transcriptome file. The BLAST e-value threshold affects the second step, the
# reciprocal search. Basically, this defines the false-positive probability
# (lower e-value = lower probability).
hmmsearch_evalue_threshold = 1e-05
blast_evalue_threshold     = 1e-05

# You can also set a score threshold. E-value and score thresholds are
# mutually exclusive.
#hmmsearch_score_threshold = 10
#blast_score_threshold     = 10

# Maximum number of BLAST hits to consider for ortholog candidates.
# Defaults to 100.
blast_max_hits             = 100

#
# # MySQL settings
#
# The database server. Change this if the database does not run on the same
# computer as the analysis. Ask your administrator if you don't know what to
# write here.
mysql_dbserver             = 127.0.0.1

# Prefix for your Orthograph database tables. Useful if you are running
# multiple instances of Orthograph on the same database but don't want the data
# to be mixed up. Defaults to 'orthograph'.
#mysql_table_prefix = orthograph

# 
# # Other options
#
# Strict search. Normally it is enough for a match to occur if one of the
# reference taxa is hit in the reciprocal search. In strict mode ALL reference
# taxa must be hit to verify an ortholog assignment. This is more conservative.
#strict      = 1

# Clear pre-existing data of the same species prior to the analysis. Useful if
# you plan to run the same analysis multiple times, but doesn't hurt otherwise.
# This is the default, uncomment if you want to turn it off.
#clear_data  = 0

# Selenocysteine (U) may occur in some protein sequences. However, Blast does
# not accept this nonstandard amino acid symbol. You can tell Orthograph to
# substitute all 'U' in the sequences with a different character. The default is
# not to substitute.
#substitute_u_with = X

# Verbose output. More information about the HMMsearch and BLAST hits. Normally
# you don't want to see this. If you are really interested in what Orthograph is
# thinking during the analysis, uncomment this. Verbose and quiet are mutually
# exclusive.
#verbose     = 1

# Quiet output. Uncomment this if you don't want to be bothered during the
# analysis. Verbose and quiet are mutually exclusive.
#quiet       = 1


#
# # More directories
# 
# Sets directory. Useful if you would like to keep your ortholog sets (that is,
# the BLAST database, the HMMs and the alignment files for each ortholog gene)
# in a separate place. Defaults to /PATH/TO/ORTHOGRAPH/sets.
#sets_dir    = /PATH/TO/SETS/DIR
